:root {
  font-family: "Arial", sans-serif;
  --primary-color: #10273b;
  --secondary-color: #d9a96a;
}

.hero-section {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: 100%;
  padding: 5rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.hero-section h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 4rem;
  text-transform: uppercase;
}

.hero-section h3 {
  font-size: 1.25rem;
  font-weight: 700;
  color: var(--secondary-color);
  margin-bottom: 1rem;
  text-align: center;
}

.hero-section p {
  color: var(--secondary-color);
  font-size: 1rem;
  line-height: 1.5;
  text-align: center;
}