.hero-booking.bg-duna,
.hero-booking.bg-lancha {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto cover cover;
  padding: 0;
  margin: 0;
  border: none;
  box-sizing: border-box;
  overflow: hidden;
  transition: background-image 2s ease-in-out;
}

.hero-booking.bg-lancha {
  background-image: url("../../../assets/backgrounds-images/background-lancha.png");
}

.hero-booking.bg-duna {
  background-image: url("../../../assets/backgrounds-images/background-duna.png");
}
