aside {
    padding: 20px;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

li {
    gap: 10px;
}

.logo-name {
    margin-bottom: 1.5rem;
}

.card-price {
    padding: 1rem;
    border-color: 1px solid var(--secondary-color);
}