:root {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

.booking {
  padding: 2rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.booking h1 {
  font-size: 5rem;
  letter-spacing: 1rem;
  font-weight: bold;
  line-height: 3rem;
}

.booking p {
  font-size: 1.2rem;
}

.booking-title {
  color: var(--secondary-color);
}

.booking-content {
  background-color: var(--primary-color);
  border-radius: 20px;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.booking-content > p {
  font-size: 1.5rem;
  font-weight: bold;
}

.booking-buttons {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  width: 100%;
}


.button-booking {
  background-color: #e2b679;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button-booking:hover {
  background-color: #d4a962;
}


.booking-buttons {
  display: flex;
  flex-direction: row;
}