.booking-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3rem;
}

.category-cards {
    display: flex;
    justify-content: space-between;
}
.category-container {
    margin: 3em 0;
    padding: 1rem 3rem;
}

.hero-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


