.booking-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 3rem;
  background-image: url("./background-lancha.png");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.category-cards {
  display: flex;
  justify-content: space-between;
}
.category-container {
  margin: 3em 0;
  padding: 1rem 3rem;
}

.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
