.header-container {
  padding: 1rem 3rem;
  background-color: var(--primary-color);
  color: white;
}

.logo {
  height: 40px;
}

.header-list,
.header-logo,
.header-nav {
  display: flex;
  align-items: center;
}

.header-logo {
  gap: 0.5rem;
}

.header-list {
  gap: 1rem;
  flex-direction: row;
}

.header-list li {
  list-style: none;
  text-transform: uppercase;
  cursor: pointer;
}

.header-nav {
  justify-content: space-between;
}

.login-button:hover {
  transform: scale(1.03);
}

.login-button {
  background-color: #e2b679;
  border: none;
  padding: 0.75rem 2rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s ease;
}
