@import "tailwindcss";

body {
	height: 100vh; /* 100% da tela do nosso monitor */
	box-sizing: border-box; /* Garante que os elementos filhos não saiam do elemento pai */
	background-color: var(--background-color);
}

:root {
    --pc: #10273b; /*primary color*/
    --pcv: #F6F7F8; /*primary color variant*/
    --sc: #d9a96a; /*second color*/
    --sch: #e2b679; /*second color hover*/
	--bc: #F2F4F3; /*background color*/


    --dp: 10rem; /* default padding*/
}